@import url("reset.css");

/* || Custom properties */
:root {
  --color-red: hsl(0 78% 62%);
  --color-cyan: hsl(180 62% 55%);
  --color-orange: hsl(34 97% 64%);
  --color-blue: hsl(212 86% 64%);
  --color-dark-blue: hsl(234 12% 34%);
  --color-grayish-blue: hsl(229 6% 66%);
  --color-light-gray: hsl(0 0% 98%);
  --font-family-primary: "Poppins", serif;
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

/* || Global styles */
body {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  font-family: var(--font-family-primary);
  font-size: 0.9375rem;
  font-weight: var(--font-weight-regular);
}

/* || Page styles */
.main-content {
  padding: 5rem 2rem;
}

.main-content__inner {
  max-width: 69.375rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
}

/* || Page text styles */
.main-content__info {
  text-align: center;
}

.main-content__info > * {
  letter-spacing: 0.007em;
}

.main-content__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
}

.main-content__title--bold {
  font-weight: var(--font-weight-bold);
  display: block;
}

.main-content__text {
  line-height: 1.666;
  opacity: 0.5;
  margin-top: 1rem;
}
